<!DOCTYPE html>
<html>
<head>
	<title>MusicScope.com with Python (Django)</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<style type="text/css">
	body {
		padding:0px 0px 0px 16px;
	}
</style>

</head>
<body>
	<h1>Welcome to MusicScope.com </h1>

	{% block content %} 

	{% endblock %}
	
</body>
</html>
